:root {
    /* main color */
    --custom-white:#FFFFFF;
    --custom-grey:  #C3C3C3;
    --custom-yellow: #e2c24c;
    --custom-green: #10452e;
    /* other colors */
    --custom-red: #fe2e4b ;
    --whitish-green: #D7FFC5;
    --darkish-green: #506554;
    --light-green: #2ED234;
    --primary-green: #4CD964;
    --plain-white: #FFFFFF;
    --next-white: #F9F9F9;
    --plain-black: #000000;
    --dark-blue: #2B3444;
    /* Define other custom colors */
  }

  body {
    font-family: 'Open Sans', sans-serif;
  }
/* 

  Primary brand colours;
  HEX Code: #10452e
  HEX Code: #e2c24c
  HEX Code: #FFFFFF
  HEX Code: #C3C3C3 */